@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
/* line 5, ../scss/style.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 11, ../scss/style.scss */
body {
  color: #ff6;
  background: #000;
  margin: 0;
}
/* line 15, ../scss/style.scss */
body.on {
  overflow: hidden;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: 0.15em;
}

/* line 22, ../scss/style.scss */
body > h1 {
  font-size: 400%;
  text-align: center;
}

/* line 27, ../scss/style.scss */
h1.hide {
  visibility: hidden;
}

/* line 33, ../scss/style.scss */
article.starwars > header,
.starwars section > header {
  display: none;
}

/* line 39, ../scss/style.scss */
.start a {
  color: green;
}
/* line 41, ../scss/style.scss */
.start a:visited {
  color: #888;
}

/* line 48, ../scss/style.scss */
.starwars.animation_body section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
/* line 54, ../scss/style.scss */
.starwars.animation_body .start {
  font-size: 200%;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer;
}
/* line 55, ../scss/style.scss */
.starwars.animation_body .start button {
  font-size: 300%;
}
/* line 59, ../scss/style.scss */
.starwars.animation_body .start a {
  font-size: 150%;
}
/* line 61, ../scss/style.scss */
.starwars.animation_body .start a .arrow {
  color: #a00;
}
/* line 82, ../scss/style.scss */
.starwars.animation_body .intro {
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee;
}
/* line 89, ../scss/style.scss */
.starwars.animation_body .logo svg {
  width: inherit;
}
/* line 94, ../scss/style.scss */
.starwars.animation_body .titles {
  overflow: hidden;
}
/* line 98, ../scss/style.scss */
.starwars.animation_body .titles > div.story > p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
}

/* line 108, ../scss/style.scss */
.starwars.on.animation_body.animation .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  opacity: 0;
  animation: intro 6s ease-out 1s;
}
/* line 115, ../scss/style.scss */
.starwars.on.animation_body.animation .logo {
  animation: logo 9s ease-out 9s;
}
/* line 118, ../scss/style.scss */
.starwars.on.animation_body.animation .titles {
  font-size: 350%;
  transform-origin: 50% 100%;
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}
/* line 122, ../scss/style.scss */
.starwars.on.animation_body.animation .titles > div.story {
  position: absolute;
  top: 100%;
  animation: titles 60s linear 13s;
}
/* line 126, ../scss/style.scss */
.starwars.on.animation_body.animation .titles > div.story > p {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 133, ../scss/style.scss */
.starwars.on.animation_body section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
/* line 139, ../scss/style.scss */
.starwars.on.animation_body .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  opacity: 0;
}
/* line 145, ../scss/style.scss */
.starwars.on.animation_body .logo {
  width: 18em;
  margin: -9em 0 0 -9em;
  opacity: 0;
}
/* line 152, ../scss/style.scss */
.starwars.on.animation_body .titles {
  top: auto;
  bottom: 0;
  height: 50em;
  text-align: justify;
  width: 14.65em;
  margin: 0 0 0 -7.325em;
}

/* line 165, ../scss/style.scss */
.main_animation.hidden {
  display: none;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo {
  0% {
    -moz-transform: scale(2.75);
    -ms-transform: scale(2.75);
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  90% {
    top: 20%;
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}
/* line 213, ../scss/style.scss */
a:focus,
button:focus {
  outline: red solid 2px;
}
